<table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Player <a href="" title="Add Player" ng-click="openAddPlayers()"><i class="fa fa-plus"></i></a></th>
        <th>Age</th>
        <th>Club</th>
        <th>Gw Points</th>
        <th>Points</th>
        <th>Position</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players | orderBy:'-total_points'">
        <td><a href="#/players/{{player.id}}"> {{player.name}} </a></td>
        <td>{{player.player_age}}</td>
        <td>{{player.club_name}}</td>
        <td>{{player.game_point}}</td>
        <td>{{player.total_points}}</td>
        <td>{{player.position}}</td>
        <td><a href="" title="view Results" ng-click="openResults(player, true)"><i class="fa fa-support"></i></a></td>
        <td><a href="" title="View Fixtures" ng-click="openFixtures(player.club, false)"><i class="fa fa-calendar"></i></a></td>
        <td><a href="" title="Edit Player" ng-click="openEditPlayer(player)"><i class="fa fa-edit"></i></a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Player <a href="" title="Add Player" ng-click="openAddPlayer()"><i class="fa fa-plus"></i></a></th>
        <th>Age</th>
        <th>Club</th>
        <th>Gw Points</th>
        <th>Points</th>
        <th>Position</th>
        <th colspan="3">Actions</th>
      </tr>
    </tfoot>
</table>