<table id="example1" class="table table-bordered table-striped">
    <tr><td colspan="8"><input type="text" name="q" ng-model="query" class="form-control" placeholder="Search..."></td></tr>
    <thead>
      <tr>
        <th><a href="" title="Order By Name" ng-click="SetOrder('name')"><i class="fa  fa-arrows-v"></i></a>Bank <a href="" title="Add Bank" ng-click="openAddBank({})"><i class="fa fa-plus"></i></a></th>
        <th><a href="" title="Order By Address" ng-click="SetOrder('address')"><i class="fa  fa-arrows-v"></i></a>Address</th>
        <th>Phone</th>
          <th><a href="" title="Order By Dr Amount" ng-click="SetOrder('current_dr')"><i class="fa  fa-arrows-v"></i></a>Dr Amount</th>
          <th><a href="" title="Order By Cr Amount" ng-click="SetOrder('current_cr')"><i class="fa  fa-arrows-v"></i></a>Cr Amount</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bank in banks | filter:query | orderBy:order_by">
        <td>{[{bank.name}]}</td>
        <td>{[{bank.address}]}</td>
        <td>{[{bank.phone_no}]}</td>
        <td>{[{bank.current_dr | rs}]}</td>
          <td>{[{bank.current_cr | rs}]}</td>
          <td><a href="" title="Edit Bank" ng-click="openAddBank(bank)"><i class="fa fa-edit"></i></a></td>
        <td><a href="#/bank-withdraw-list/{[{bank.id}]}" title="Bank Statement" ><i class="fa fa-bars"></i></a></td>
        <td><a href="#/bank-withdraw/{[{bank.id}]}" title="Withdraw Amount" ><i class="fa fa-money"></i></a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Bank <a href="" title="Add Bank" ng-click="openAddBank({})"><i class="fa fa-plus"></i></a></th>
        <th>Address</th>
        <th>Phone</th>
           <th>Dr Amount</th>
        <th>Cr Amount</th>
        <th colspan="2">Actions</th>
      </tr>
    </tfoot>
</table>