<table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Employee <a href="" title="Add Employee" ng-click="openAddEmployee(site)"><i class="fa fa-plus"></i></a></th>
        <th>Address</th>
        <th>Age</th>
        <th>Role</th>
        <th>Sex</th>
        <th>Marital Status</th>
        <th>Date Joined</th>
        <th>Phone</th>
        <th>Status</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="emp in employees | orderBy:'-name'">
        <td><a href="#/employees/{[{site}]}/{[{emp.id}]}"> {[{emp.name}]} </a></td>
        <td>{[{emp.address}]}</td>
        <td>{[{emp.employee_age}]}</td>
        <td>{[{emp.role_name}]}</td>
        <td>{[{emp.sex}]}</td>
        <td><label ng-show="emp.marital_status">Married</label><label ng-hide="emp.marital_status">Single</label></td>
        <td>{[{emp.date_joined}]}</td>
        <td>{[{emp.phone}]}</td>
        <td><label class="text-aqua" ng-show="emp.status">Active</label>
          <label class="text-red" ng-hide="emp.status">Inactive</label></td>
        <td><a href="" title="View working days" ng-click="openWorkinngDays(emp)"><i class="fa fa-user"></i></a></td>
        <td><a href="" title="View Salary Payments" ng-click="openSalaryPayment(emp)"><i class="fa fa-money"></i></a></td>
        <td><a href="" title="View Salary History" ng-click="openHistory(emp)"><i class="fa fa-calendar"></i></a></td>
        <td><a href="" title="Edit Employee" ng-click="openEditEmployee(emp)"><i class="fa fa-edit"></i></a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Employee <a href="" title="Add Employee" ng-click="openAddEmployee(site)"><i class="fa fa-plus"></i></a></th>
        <th>Address</th>
        <th>Age</th>
        <th>Role</th>
        <th>Sex</th>
        <th>Marital Status</th>
        <th>Date Joined</th>
        <th>Phone</th>
        <th>Status</th>
        <th colspan="4">Actions</th>
      </tr>
    </tfoot>
</table>