 <div class="modal-body">
 <div class="row" ng-hide="players.length">
     <div clas="col-sm-9 col-sm-offset-3">No Players Found</div>
 </div>
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="player in players">
         <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                  <h3 class="widget-user-username">{{player.name}}</h3>
                  <h5 class="widget-user-desc">{{player.position}}</h5>
                </div>
                <div class="widget-user-image">
                  <img class="img-circle" ng-src="{{profileImg[0].src}}" alt="User Avatar">
                </div>
                <div class="box-footer">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">{{player.player_age}}</h5>
                        <span class="description-text">AGE</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">{{player.game_point}}</h5>
                        <span class="description-text">GW Points</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-4">
                      <div class="description-block">
                        <h5 class="description-header">{{player.total_points}}</h5>
                        <span class="description-text">Total</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div>
         </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>