<table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>SN <a href="#/inventory/demand-details/0" title="Add Demand">
            <i class="fa fa-plus"></i></a></th>
      <th>Demand Count</th>
        <th>Date</th>
        <th>Purpose</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="demand in demands | orderBy:'-date'">
        <td>{[{$index+1}]} </td>
          <td><label ng-repeat="row in demand.rows"><span ng-show="$index<2">{[{row.item_name}]},</span>
              <span ng-show="$index>1 &&  $index<4">..</span></label>({[{demand.rows.length}]})</td>
        <td>{[{demand.date}]}</td>
        <td>{[{demand.purpose}]}</td>
        <td><a href="#/inventory/demand-details/{[{demand.id}]}" title="Demand Details"><i class="fa fa-bars"></i></a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>SN <a href="#/inventory/demand-details/0" title="Add Demand">
            <i class="fa fa-plus"></i></a></th>
        <th>Demands Count</th>
        <th>Date</th>
        <th>Purpose</th>
        <th colspan="2">Actions</th>
      </tr>
    </tfoot>
</table>